/** @format */

#landing-page {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle at top left, var(--primary-color), var(--cool-blue));
	color: var(--inner-font-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

#landing-page h1 {
	font-size: 3.5rem;
	margin-top: -5rem;
}

@keyframes growButton {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

@keyframes shrinkButton {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#landing-page button {
	padding: 1rem 1.75rem;
	font-size: 1.75rem;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	color: var(--inner-font-color);
	font-weight: 600;
	z-index: 0;
	animation: shrinkButton 0.5s forwards;
}

#landing-page button:hover {
	animation: growButton 0.5s forwards;
}

/*This layer sits on top of the glowing button version*/
#landing-page button::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 20px;
	background: hsla(0, 0%, 19%, 0.95); /*Actual Background Color for the button*/
	z-index: -1;
}

@keyframes glowingEffect {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 400% 0%;
	}
}

#landing-page button::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 10px;

	/*Glow Effect color*/
	background: linear-gradient(
		45deg,
		hsl(120, 54%, 31%),
		hsl(103, 100%, 30%),
		hsl(104, 43%, 23%),
		hsl(120, 54%, 31%)
	);
	background-size: 600%;
	filter: blur(12px); /*Gives the soft look to the glow*/
	z-index: -1; /*Ensures that the glowing effect sits behind the button*/

	/*Glow Effect animation*/
	animation: glowingEffect 5s linear infinite;
}
